{% extends 'base.html.twig' %}

{% block title %}Hello CardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto;  width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .button {
        background-color: darkblue;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<div class="example-wrapper">
    <h3>Order of symbols</h3>
    {% for symbol in symbolOrderingStructure %}
        <img width="40" src="{{ asset('images/symbols/' ~ symbol ~ '.png') }}" alt="{{ symbol }}"/>
    {% endfor %}

    <h3>Order of values</h3>
    <table>
        <tbody>
        <tr style="border: 1px solid black; border-collapse: collapse;">
            {% for value in valueOrderingStructure %}
                <td style="border: 1px solid black;">{{ value }} </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
    <br>
    <h3>Initial cards</h3>
    {% for card in firstCardSet %}
        <img src="{{ asset('images/cards/' ~ card.value ~ card.symbol ~ '.gif') }}" alt="{{ card.value }} - {{ card.symbol }}"/>
    {% endfor %}

    <h3>Sorted cards</h3>
    {% for sortedCard in sortedCards %}
        <img src="{{ asset('images/cards/' ~ sortedCard.value ~ sortedCard.symbol ~ '.gif') }}" alt="{{ sortedCard.value }} - {{ sortedCard.symbol }}"/>
    {% endfor %}

    <br><br>
    <a href="{{ path('card') }}" class="button">Replay</a>
</div>
{% endblock %}
